@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@400&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a,
img, ul, li, nav, video, figure {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ol, ul {
  list-style: none;
}

@-webkit-keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}
.empty-box {
  height: calc(100vh - 688px);
  width: 100%;
  padding-bottom: 100px;
  font-size: 32px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-box img {
  width: 90%;
  height: auto;
}

.item-wrap {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item-wrap .recipe {
  width: 90%;
  padding: 40px 40px 10px 40px;
}
.item-wrap .recipe .r-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.item-wrap .recipe .r-wrap .img-box {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 32px;
  position: relative;
}
.item-wrap .recipe .r-wrap .img-box .like {
  top: 10px;
  right: 10px;
  z-index: 5;
  position: absolute;
}
.item-wrap .recipe .r-wrap .img-box .like .like-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  filter: brightness(10);
}
.item-wrap .recipe .r-wrap .img-box .like .like-btn.is-active {
  filter: none;
  transition-duration: 1s;
  background-position: -2800px 0;
}
.item-wrap .recipe .r-wrap .img-box .r-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: scale 0.3s;
}
.item-wrap .recipe .r-wrap .img-box .r-img:hover {
  scale: 1.1;
}
.item-wrap .recipe .r-wrap .r-wrap-bottom {
  width: 100%;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-wrap .recipe .r-wrap .r-wrap-bottom .text-con {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.item-wrap .recipe .r-wrap .r-wrap-bottom .text-con h3 {
  padding: 15px 0 0 15px;
  font-size: 28px;
  color: #2E483E;
  font-weight: bold;
}
.item-wrap .recipe .r-wrap .r-wrap-bottom .text-con .hash-box {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-wrap .recipe .r-wrap .r-wrap-bottom .text-con .hash-box span {
  font-size: 18px;
  padding-right: 10px;
  color: #919191;
}
.item-wrap .recipe .r-wrap .r-wrap-bottom .item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  background-color: #53A069;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .empty-box {
    height: calc(100vh - 426px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .empty-box img {
    width: 90%;
    height: auto;
  }
  .item-wrap .recipe {
    width: 100%;
    padding: 0;
  }
  .item-wrap .recipe .r-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .item-wrap .recipe .r-wrap .img-box {
    height: 150px;
    border-radius: 20px;
  }
  .item-wrap .recipe .r-wrap .img-box .r-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transition: scale 0.3s;
  }
  .item-wrap .recipe .r-wrap .img-box .r-img:hover {
    scale: 1.1;
  }
  .item-wrap .recipe .r-wrap .r-wrap-bottom {
    padding-bottom: 20px;
  }
  .item-wrap .recipe .r-wrap .r-wrap-bottom .text-con h3 {
    padding: 15px 0 0 10px;
    font-size: 18px;
  }
  .item-wrap .recipe .r-wrap .r-wrap-bottom .text-con .hash-box {
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .item-wrap .recipe .r-wrap .r-wrap-bottom .text-con .hash-box span {
    font-size: 10px;
    padding-right: 9px;
  }
  .item-wrap .recipe .r-wrap .r-wrap-bottom .item-btn {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    border-radius: 15px;
  }
}/*# sourceMappingURL=Item.css.map */