@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@400&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a,
img, ul, li, nav, video, figure {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ol, ul {
  list-style: none;
}

.list {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.list .l-top {
  width: 100%;
  height: 200px;
  background-color: #53A069;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .l-top .food-icon {
  width: 100px;
  height: 100px;
  position: absolute;
}
.list .l-top .food-icon:nth-child(1) {
  bottom: -20px;
  left: 50px;
}
.list .l-top .food-icon:nth-child(2) {
  bottom: -20px;
  right: 50px;
}
.list .l-top .food-icon:nth-child(3) {
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.list .l-top .food-icon:nth-child(4) {
  top: -30px;
  left: 20%;
}
.list .l-top .food-icon:nth-child(5) {
  width: 80px;
  height: 80px;
  top: -10px;
  right: 20%;
}
.list .l-top .l-t-wrap {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list .l-top .l-t-wrap input[type=text] {
  width: 350px;
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  outline: none;
}
.list .l-top .l-t-wrap input[type=text]::-moz-placeholder {
  color: #777;
}
.list .l-top .l-t-wrap input[type=text]:-ms-input-placeholder {
  color: #777;
}
.list .l-top .l-t-wrap input[type=text]::placeholder {
  color: #777;
}
.list .l-top .l-t-wrap input[type=submit] {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #53A069;
  font-weight: bold;
  cursor: pointer;
}
.list .l-bottom {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.list .l-bottom .l-b-serch {
  margin: 40px 0 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list .l-bottom .l-b-serch h2 {
  color: #2E483E;
  margin: 20px 0;
  font-size: 28px;
}
.list .l-bottom .l-b-serch .filter-box {
  padding: 0 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list .l-bottom .l-b-serch .filter-box h4 {
  margin: 0;
  font-size: 16px;
  color: #272727;
  font-weight: normal;
}
.list .l-bottom .l-b-serch .filter-box .minus {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate {
  z-index: 7;
  padding: 10px 20px 10px 50px;
  border-radius: 25px;
  background-color: #F1F3F4;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate.active {
  border-radius: 25px 25px 0 0;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate.active img {
  transform: rotateX(180deg);
}
.list .l-bottom .l-b-serch .filter-box .minus .hate.active ul {
  height: 200px;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate.active ul li {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #53A069;
  height: 25%;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate.active ul li p {
  font-size: 18px;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate img {
  width: 18px;
  height: 10px;
  margin-left: 20px;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate ul {
  height: 0;
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  padding: 0 15px;
  border-radius: 0 0 15px 15px;
  background-color: #F1F3F4;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate ul li {
  cursor: pointer;
  height: 0;
  font-size: 0;
}
.list .l-bottom .l-b-serch .filter-box .minus .hate ul li:last-child {
  border: none;
}
.list .l-bottom .l-b-serch .filter-box .minus p {
  font-size: 16px;
  margin-left: 10px;
  color: #535353;
}
.list .l-bottom .l-b-content {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .list .l-top {
    height: 120px;
  }
  .list .l-top .food-icon {
    width: 80px;
    height: 80px;
  }
  .list .l-top .food-icon:nth-child(1) {
    bottom: -20px;
    left: 20px;
  }
  .list .l-top .food-icon:nth-child(2) {
    bottom: -20px;
    right: 20px;
  }
  .list .l-top .food-icon:nth-child(5) {
    width: 70px;
    height: 70px;
    top: -10px;
    right: 20%;
  }
  .list .l-top .l-t-wrap input[type=text] {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin: 7px;
  }
  .list .l-top .l-t-wrap input[type=submit] {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }
  .list .l-bottom .l-b-serch {
    margin: 15px 0 50px;
  }
  .list .l-bottom .l-b-serch h2 {
    color: #2E483E;
    margin: 20px 0 10px;
    font-size: 15px;
  }
  .list .l-bottom .l-b-serch .filter-box {
    padding: 0 10px;
  }
  .list .l-bottom .l-b-serch .filter-box h4 {
    font-size: 12px;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate {
    z-index: 7;
    padding: 5px 10px 5px 15px;
    font-size: 14px;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate.active {
    border-radius: 15px 15px 0 0;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate.active ul {
    height: 150px;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate.active ul li {
    padding: 10px 0;
    font-size: 12px;
    border-bottom: 1px solid #53A069;
    height: 25%;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate.active ul li p {
    font-size: 12px;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate img {
    width: 15px;
    height: 7px;
  }
  .list .l-bottom .l-b-serch .filter-box .minus .hate ul {
    top: 30px;
    padding: 0 15px;
    border-radius: 0 0 15px 15px;
  }
  .list .l-bottom .l-b-serch .filter-box .minus p {
    font-size: 12px;
  }
}/*# sourceMappingURL=List.css.map */